<!DOCTYPE html>
<html>
<head>
  <meta charset="utf8">
  <title>mongo-test</title>
  <link rel="stylesheet" href="/css/stylesheet.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<header>
    <a id="home-btn" href="/">Collage</a>
		<% if (!user) { %>
			<a href="/login">Login</a>
    	<a href="/signup">Sign up</a>
		<% } else { %>
			<a href="/submit">Submit a post</a>
    	<a href="/users/<%= user.username %>">View profile</a>
    	<a href="/logout">Logout</a>
		<% } %>
  </header>
  
  <h3>Login</h3>
  <form action="/login" method="post">
    <div>
      <label>Username</label>
      <input type="text" name="username"><br/>
    </div>
    <div>
      <label>Password</label>
      <input type="password" name="password">
    </div>
    <button type="submit">Login</button>
  </form>
</body>
</html>