<!DOCTYPE html>
<html>
<head>
  <meta charset="utf8">
  <title>mongo-test</title>
  <link rel="stylesheet" href="css/stylesheet.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <header>
    <a id="home-btn" href="/">Collage</a>
		<% if (!user) { %>
			<a href="/login">Login</a>
    	<a href="/signup">Sign up</a>
		<% } else { %>
			<a href="/submit">Submit a post</a>
    	<a href="/users/<%= user.username %>">View profile</a>
    	<a href="/logout">Logout</a>
		<% } %>
  </header>

  <h3>Submit a post</h3>
  <p>You must either specify a link or input some text in the text box (or both!)</p>
  <form action="/posts" method="post">
    <div>
      <label>Title</label>
      <input type="text" name="title" placeholder="Foobar!"><br/>
    </div>
    <div>
      <label>Link</label>
      <input type="text" name="link" placeholder="https://i.imgur.com/dLTPcWs.jpg">
    </div>
    <div>
      <label>Text</label>
      <textarea rows="4" name="text" placeholder="Lorem ipsum dolor sit amet, consectetur adipiscing elit."></textarea>
    </div>
    <button type="submit">Submit</button>
  </form>
</body>
</html>