body {
  font-family: "Trebuchet MS", Arial, sans-serif;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#home-btn {
  display: inline;
  font-size: 22px;
  flex: 1;
}

#nav {
  display: flex;
}

#nav-ul {
  /* stuff */
}

#nav-ul li {
  display: inline;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

.post {
  margin-bottom: 36px;
  border: 1px solid #afafaf
}