body {
  font-family: "Trebuchet MS", Arial, sans-serif;
  margin: 0 auto;
}

input:focus {
  outline: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#home-btn {
  display: inline;
  font-size: 22px;
  flex: 1;
  padding: 0 10px;
}

#nav {
  display: flex;
  box-shadow: 0 0 2px rgba(0,0,0,0.33)
}

#nav-ul li {
  display: inline;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  margin: 0 auto;
  max-width: 600px;
}

.post {
  margin-bottom: 36px;  
}

.post-content {
  border: 1px solid #e5e5e5;
}

.post-title {
  padding: 0 12px;
  border-bottom: 1px solid #e5e5e5;
}

.post-title h3 {
  display: inline-block;
}

.post-link {
  display: inline;
  padding: 6px;
}

.post-title h6 {
  margin: 0 auto 8px;
}

.post-text {
  padding: 0 8px;
}

.post-comments {
  padding: 0 12px;
  border: 1px solid #e5e5e5;
  border-top: none;
}

.post-addcomment form {
  padding: 0 12px;
  border: 1px solid #e5e5e5;
  border-top: none;
  display: flex;
}

#comment-input {
  padding: 12px 0;
  flex: 1;
  display: flex;
}

#comment-input input {
  flex: 1;
  border: none;
  padding: 0;
  font-family: "Trebuchet MS", Arial, sans-serif;
  font-size: 14px;  
}

#comment-submit {
  display: flex;
  align-self: flex-end;
  flex-basis: auto;
  height: 40px;
}
